html {
    height: 100%;
    font-family: 'Oswald', serif;
    color: #e7dbff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./../../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    max-width: 768px;
    width: 100%;
    padding: 0 25px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section {
    backdrop-filter: blur(25px) saturate(150%);
    border: 1px solid #412948;
    border-radius: 12px;
    padding: 5px 10px;
}