.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top__title {
    font-size: 24px;
}

.top__list {
    background-color: #1c0324;
    border: 1px solid #412948;
    border-radius: 12px;
    padding: 5px 10px;
}

.top__item {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top__place {
    font-size: 20px;
}