.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top__title {
    font-size: 24px;
}

.top__list {
    backdrop-filter: blur(25px) saturate(150%);
    border: 1px solid #412948;
    border-radius: 12px;
    padding: 5px 10px;
}

.top__item {
    font-size: 20px;
}

.top__place {
    font-size: 20px;
}