.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px 32px;
}

.header__title {
    font-size: 28px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header__nav-item {
    font-size: 20px;
}

.header__avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}